<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {{- block "title" . }}/*{ .ProgramName | html }*/{{ end -}}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/client/app.css">
  <script type="text/javascript" src="/client/app.js" defer></script>
</head>
<body>
  <header>
    <h1>/*{ .ProgramName | html }*/</h1>
  </header>
  <main>
    {{- block "main" . }}{{ end -}}
  </main>
  <footer>
    /*{ .Author | html }*/, /*{ .Year }*/
  </footer>
</body>
</html>
